@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Orbitron&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    }

    body {
        font-size: 100%;
        background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%);
    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 24px;        
    }

    .cabecalho-imagem {
        height: 72px;
    }

    .cabecalho-menu {
        display: flex;
        gap: 32px;
    }

    .cabecalho-menu-item{
        font-family: 'Orbitron', sans-serif;
        color: blue;
        font-weight: 400;
        font-size: 18;        
    }